.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
*.png
*.csv
*.xlsx
*.png
*.csv
*.xlsx
*.shp
*.shx
*.dbf
*.prj
*.docx
*.png
*.csv
*.xlsx
*.shp
*.shx
*.dbf
*.prj
*.kml
*.gpkg
*.docx
*.bib
*.jpeg
*.kmz
*.tif
*.phy
*.tre
*.txt
*.html
*.zip
.positai
